html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  background: #e2e2e2;
}

.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.btn-class{
  background-color:#002b5c;
  color:white;
}
mat-form-field {
  width: 100%;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.text-change1{
  
  
    opacity: 1;
    color:#002b5c;;
    animation-name: fadeInOut;
    animation-delay: 0s;
    animation-duration: 1s;

}
.text-change2{
  
  
    opacity: 1;
    color:#002b5c;;
    animation-name: fadeInOut;
    animation-delay: 0s;
    animation-duration: 1s;

}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

 